div{
    border: 1px solid black;
}

*{
    margin: 0px;
    padding: 0px;
}

/* Navigaition Bar */
#logo{
    margin-left: 1.8in;
}

#logo > img{
    height: 0.8in;
}
#navBar{
    display: flex;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    position: sticky;
    top: 0.1px;
}
li {
    display: inline;
    margin-left: 50px;
    color: grey;
    font-weight: medium;
}

#nav{
    margin-left: 0.5in;
    width: 4in;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: large;
}

#nav li{
    color: #445578;
}

#nav li:hover{
    color: #1976D2;
    cursor: pointer;
}

#login{
    display: flex;
    width: 3.5in;
    margin-left: 3in;
    align-items: center;
    justify-content: space-evenly;
}
.img{
    width: 50px;
    height: 50px;
}
.img:hover{
    cursor: pointer;
}


/* Footer */

.foot1{
    padding-top: 60px;
}

.foot1 p{
    color: #445578;
    margin-bottom: 25px;
}
.foot1 > div:nth-child(5) > p{
    margin: 10px 0px 20px;
}
.foot1 > div:nth-child(5){
    border: 1px solid #EEEEEE;
    height: 170px;
    width: 320px;
    padding: 20px 20px 20px 20px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
#footer{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

#footer> div:nth-child(1){
    display: flex;
    width: 65%;
    height: 8cm;
    margin: auto;
    justify-content: space-between;
}
#footer> div:nth-child(1) > div:nth-child(1) > div:nth-child(1) img{
    height: 1.5in;
}
.sitemap > p:hover{
    cursor: pointer;
    color: #457eff;
}
.foot1Imgs:hover{
    cursor: pointer;
}

.socials > div:nth-child(2){
    margin-top: 30px;
}
.socials p{
    margin-bottom: 15px;
    color: #445578;
}

.foot2{
    height: 3cm;
    width: 65%;
    margin: auto;
    margin-top: 20px;
}
.foot2 p{
    color: #445578;
    margin-top: 10px;
}

/* Background Image Div */

.bg{

    background-image: url("https://static.naukimg.com/s/5/105/i/dashboardbg.png");
    background-size: cover  ;
    width: 100%;
    height: 2.5in;
}

body{
    background-color: #dfe6ed;
}
.parent{
    width: 65%;
    display: flex;
    justify-content: space-between;
}

/* Child 1 */
.child1{
    display: flex;
    flex-direction: column;
}
.search{
    width: 45%;
}
.search > p{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}


